:host {
  display: block;
  width: 75px;
  border: 1px solid #000;

  .frame-rolls {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;

    div[class^="roll-"] {
      border-left: 1px solid #000;
      border-bottom: 1px solid #000;
      width: 20px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .game-amount {
    font-size: 24px;
    padding: 5px;
  }
}

