<h1>Bowling game</h1>

<div class="lane">
  <bowling-frame
    *ngFor="let item of [].constructor(10); let i = index;"
    [isLastFrame]="i === 9"
    [gameCount]="getGameCountOfFrame(i)"
    [frameAmount]="getFrameAmount(i)"
    [rollOne]="getRollOneOfFrame(i)"
    [rollTwo]="getRollTwoOfFrame(i)"
    [rollThree]="getRollThreeOfFrame(i)"
  ></bowling-frame>
</div>

<bowling-roll-button
  [disabled]="isGameOver"
  (rolledPin)="playBowling($event)"
  [max]="availablePins"
></bowling-roll-button>

<button [disabled]="isGameOver" (click)="playBowling(10)">Roll only 10s</button>

<h2>available pins: {{availablePins}}</h2>
